<!--
    Filename: bottom_nav.ejs
    Student name: Wing Keung Wong
    Student ID: 301242732
    Create Date: 7-Oct-2022
-->


<!-- Bottom Nav -->
<footer>
    <nav class="navbar fixed-bottom navbar-light text-bg-info">
      <h6 class="navbar-text">&copy; Copyright 2022 All Rights reserved.</h6>
    </nav>
  </footer>