<!--
    Filename: about.ejs
    Student name: Wing Keung Wong
    Student ID: 301242732
    Create Date: 7-Oct-2022
-->


<%- include('./partials/header.ejs') %>

<%- include('./partials/main_nav.ejs') %>

  <!-- Main Content -->
  <main class="container">
    <div class="bg-light p-5 rounded-lg m-3">
        <div class="display-6">Who am I? Wing Keung Wong (Kent)</div>
        <div class="row row-cols-4">
            <div class="border col"><img src="./Assets/images/kw_portrait.jpg" ></img></div>
            <div class="border col-6">
                <p>
                    I have had over 13 years of application development specialized in Microsoft technology. 
                    My working experience includes software development, analysis and design, project management, 
                    production support, performance tuning. I like to learn new things which were not taught when 
                    I was in university. For example, Linq, Json and Python.
                </p>
                <p>
                    Apart from technical skill, I also enjoy having discussions with business users to find any 
                    possible solution to enhance existing operations. Understanding users resist CHANGE, 
                    I am willing to provide training and related materials to users to get familiar with the new idea.
                </p>
            </div>    
            <div class="col"></div>
        </div>
        <p></p>
        <p>
            Download my CV here:
        </p>
        <a href="./Assets/files/kw_cv.pdf" class="btn text-bg-info" role="button" download>Download</a>
    </div>
  </main>

<%- include('./partials/bottom_nav.ejs') %>

<%- include('./partials/footer.ejs') %>





