<!--
    Filename: projects.ejs
    Student name: Wing Keung Wong
    Student ID: 301242732
    Create Date: 7-Oct-2022
-->


<%- include('./partials/header.ejs') %>

<%- include('./partials/main_nav.ejs') %>

  <!-- Main Content -->
  <main class="container">
    <main class="container">
        <div class="bg-light p-5 rounded-lg m-3">
            <div class="display-6">What I can help you on...</div>
            <div class="bg-light p-5 rounded-lg m-3">
                <div class="row border">
                    <div class="col">
                        <i class="fa-regular fa-building-columns"></i>Bank:
                    </div>
                    <div class="col-10">
                        <b>Trade Straight Through Automation</b>
                        <br />
                        ● Deal automation by retrieving deal information from Refinitiv (Thomson Reuters)
                        <br />
                        ● Coding by using C# and Entity Framework and TSQL Stored Procedure
                        <br />
                        ● Created web application for real time data retrieval, client program for batch processing
                        <br />
                        ● Prepare documents to fulfill HKMA (Hong Kong Monetary Authority) requirements
                    </div>
                </div>
                <div class="row border">
                    <div class="col">
                        <i class="fa-regular fa-hands-holding-circle"></i>Insurance:
                    </div>
                    <div class="col-10">
                        <b>E-application for branch user</b>
                        <br />
                        ● Web application for bank user to do the new business (life insurance)
                        <br />
                        ● Create libraries for office automation generating Excel form for users
                        <br />
                        ● Coding by using C#, Entity Framework and Interop Excel library
                        <br />
                        ● Created web application for bank user, web API for vendor’s mobile application
                    </div>
                </div>
                <div class="row border">
                    <div class="col">
                        <i class="fa-regular fa-hand-holding-heart"></i>Charity:
                    </div>
                    <div class="col-10">
                        <b>Office Workflow Automation</b>
                        <br />
                        ● Flexible delegation process
                        <br />
                        ● Able to handle complexed approval process
                        <br />
                        ● Allow tasks sharing
                    </div>
                </div>
            </div>
        </div>
      </main>
  </main>

<%- include('./partials/bottom_nav.ejs') %>

<%- include('./partials/footer.ejs') %>

