<!--
    Filename: services.ejs
    Student name: Wing Keung Wong
    Student ID: 301242732
    Create Date: 7-Oct-2022
-->


<%- include('./partials/header.ejs') %>

<%- include('./partials/main_nav.ejs') %>

  <!-- Main Content -->
  <main class="container">
    <div class="bg-light p-5 rounded-lg m-3">
        <div class="display-6">What I can help you on...</div>
        <div class="bg-light p-5 rounded-lg m-3">
            <div class="row">
                <div class="col">
                    <i class="fa-solid fa-car"></i>Office Automation
                </div>
                <div class="col">
                    <i class="fa-solid fa-helmet-safety"></i>Security Advice
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <i class="fa-solid fa-puzzle-piece"></i>Web Application
                </div>
                <div class="col">
                    <i class="fa-regular fa-calendar-days"></i>Console Program
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <i class="fa-regular fa-magnifying-glass-chart"></i>Gap Analysis
                </div>
                <div class="col">
                    <i class="fa-solid fa-list-check"></i>Project Management
                </div>
            </div>
        </div>
    </div>
  </main>

<%- include('./partials/bottom_nav.ejs') %>

<%- include('./partials/footer.ejs') %>

